<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div data-th-if="${orderId}">
        <h1>Your order has been placed</h1>
        <br>
        <p>Your order id is <span data-th-text="${orderId}"></span></p>
        
    </div>

    <div data-th-if="${empty}">
        <h1><span data-th-text="${empty}"></span></h1>
        
    </div>
    <p>
        <a href="/">Back</a>
    </p>
</body>
</html>